.add-tour {
    .field-required {
        color: red;
        font-size: 17px;
        font-weight: bold;
    }
    #description {
        resize: vertical;
    }
    p[for=thumbnail] {
        margin: 0px 0px 5px 0px;
        font-weight: 700;
    }
    #thumbnail {
        .row {
            margin-right: 0px;
            margin-left: 0px;
            text-align: center;
            background: #ecf0f5;
            height: 300px;
            #preview-thumbnail {
                height: 100%;
            }
        }
    }
    #tab-quill {
        background-color: white;
        #content-quill {
            .ql-editor {
                min-height: 300px;
            }
        }
    }
    .box-primary {
        padding-bottom: 15px;
    }

    #dropzone-image {
        min-height: 300px;
    }
    #submit-form {
        text-align: right;
        margin: 10px 9px 0px 9px;
        button, p {
            border-radius: 0px;
        }
    }
}

.progress-upload-form {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background-color: #757575;
    opacity:0.7;
    color: white;
    font-weight: 900;
    font-size: 70px;
    text-align: center;
    padding-top: 200px;
    span{
        position: absolute;
        top: 40%;
        left: 34%;
    }
}

#modal-default {
    .danger {
        color: #a94442;
        .modal-footer {
            .btn-primary {
                background: #f2dede;
                color: #aa4455;
                border: 1px solid #a9497e;
            }
        }
    }
    .success {
        color: #3c763d;
        .modal-footer {
            .btn-primary {
                background: #dff0d8;
                color: #3c763d;
                border: 1px solid #3c763d;
            }
        }
    }
}

.select2-tag-group .select2-container{
    width:100% !important;
}
.lh-18{
    line-height: 18px;
}
.lh-8{
    line-height: 8px;
}
