.mail-form {
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    background-color: #dadada;
    padding: 2%;
    font-family: montserrat, sans-serif;
    color: #333;
}

.content-form {
    width: 70%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 8px;
    padding: 1% 2%;
}

.greeting {
    color: #04baf1;
    font-style: italic;
}

.header {
    text-align: center;
    color: #ff891e;
}

h2, p {
    color: #333;
}

i {
    font-size: 14px;
    line-height: 18px;
}

.content-form img {
    width: 100%;
}

.booking-detail {
    overflow: hidden;
}

.col {
    width: 50%;
    float: left;
    margin-top: 20px;
}

.price {
    color: #ff891e;
    font-size: 25px;
}

.col-content {
    overflow: hidden;
    padding-left: 5%;
}

.group-form {
    width: 100%;
    padding: 0 0 2% 5%;
    overflow: hidden;
}

.group-form .left {
    width: 40%;
    float: left;
    font-weight: bold;
    color: #333;
}
.group-form .right {
    width: 60%;
    float: right;
    color: #333;
}
.price-content {
    width: 40%;
    float: right;
    text-align: center;
    color: #333;
}

.price-content h2 {
    margin-bottom: 0;
    color: #333;
}

.price-content p {
    margin-top: 0;
    color: #333;
}

.btn-confirm {
    background-color: #ff891e;
    border: 3px solid #ff891e;
    color: #fff;
    padding: 0 30px;
    height: 45px;
    width: 150px;
    line-height: 45px;
    display: block;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin: 5% auto;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-confirm:hover {
    background-color: #fff;
    color: #ff891e;
    border: 3px solid #ff891e;
}

.logo {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2%;
}

.logo a {
    cursor: pointer;
}

.footerContent {
    text-align: center;
    color: #797878;
}
